@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
@model RepairManage.Models.Computer

@{
    ViewBag.Title = "查找电脑信息";
}

<div id="main">
@if (ViewBag.isExist==1)
{
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">电脑信息</h3></div>
    <div class="panel-body">
    <dl class="dl-horizontal">
    <dt>电脑序列号</dt>
    <dd>
        @Html.DisplayFor(model => model.computerId)
    </dd>
    <dt>所属维修中心</dt>
    <dd>
        @Html.DisplayFor(model => model.center.name)
    </dd>
    <dt>维修中心地址</dt>
    <dd>
        @Html.DisplayFor(model => model.center.address)
    </dd>
    <dt>维修中心电话</dt>
    <dd>
        @Html.DisplayFor(model => model.center.phone)
    </dd>
    <dt>维修中心邮箱</dt>
    <dd>
        @Html.DisplayFor(model => model.center.email)
    </dd>
    <dt>保修截止日期</dt>
    <dd>
        @Html.DisplayFor(model => model.deadTime)
    </dd>
    <dt>是否在保修期</dt>
    <dd>
        @if (Model.deadTime > DateTime.Now)
        {
            <text>是</text>
        }
        else
        {
            <text>否</text>
        }
    </dd>
    </dl>
    </div>
</div>
}
else
{
    <p>找不到此序列号！</p>
}
</div>
<div class="href">
<p>
@Html.ActionLink("返回首页", "Index")
@if (ViewBag.isExist==1)
{
@Html.ActionLink("查看维修信息", "RepairList", new { id = Model.computerId })
}
</p>
</div>