@model RepairManage.Models.RepairDetail
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
@{
    ViewBag.Title = "维修详情";
}

<div id="main">
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">维修详情</h3></div>
    <div class="panel-body">
    <dl class="dl-horizontal">
    <dt>维修单号</dt>
    <dd>
        @Html.DisplayFor(model => model.repairId)
    </dd>
    <dt>电脑序列号</dt>
    <dd>
        @Html.DisplayFor(model => model.computerId)
    </dd>
    <dt>故障信息</dt>
    <dd>
        @Html.DisplayFor(model => model.faultMsg)
    </dd>
    <dt>维修方式</dt>
    <dd>
        @Html.DisplayFor(model => model.repairMethod)
    </dd>
    <dt>维修费用</dt>
    <dd>
        @Html.DisplayFor(model => model.repairCost)
    </dd>
    <dt>维修日期</dt>
    <dd>
        @Html.DisplayFor(model => model.repairTime)
    </dd>
    <dt>维修状态</dt>
    <dd>
        @if (Model.isFixed)
            {
                <text>已完成</text>
            }
            else
            {
                <text>维修中</text>
            }
    </dd>
    <dt>客户姓名</dt>
    <dd>
        @Html.DisplayFor(model => model.customerName)
    </dd>
    <dt>客户电话号码</dt>
    <dd>
        @Html.DisplayFor(model => model.phoneNumber)
    </dd>
    <dt>客户邮箱</dt>
    <dd>
        @Html.DisplayFor(model => model.email)
    </dd>
    </dl>
    </div>
</div>
</div>
<div class="href">
<p>
@Html.ActionLink("返回首页", "Index")
@Html.ActionLink("返回维修记录", "RepairList", new { id=Model.computerId})
</p>
</div>