@model IEnumerable<RepairManage.Models.RepairDetail>

@{
    ViewBag.Title = "维修记录";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div id="main">
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">维修记录</h3></div>
    <table class="table table-hover">
    <thead>
    <tr>
    <th>维修单号</th>
    <th>电脑序列号</th>
    <th>客户名称</th>
    <th>维修日期</th>
    <th>维修状态</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
        <td>@Html.DisplayFor(modelItem=>item.repairId)</td>
        <td>@Html.DisplayFor(modelItem=>item.computerId)</td>
        <td>@Html.DisplayFor(modelItem=>item.customerName)</td>
        <td>@Html.DisplayFor(modelItem=>item.repairTime)</td>
        <td>
            @if (item.isFixed)
            {
                <text>已完成</text>
            }
            else
            {
                <text>维修中</text>
            }
         </td>
         <td>@Html.ActionLink("详情", "Details", new { id=item.repairId }) </td>
        </tr>
    }
    </tbody>
  </table>
</div>
</div>
<div class="href">
<p>
@Html.ActionLink("返回首页", "Index")
</p>
</div>